argcomplete==3.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
blinker==1.7.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.6
colorama==0.4.6
cryptography==41.0.7
dbus-python==1.3.2
distro==1.9.0
geopandas==1.0.1
httplib2==0.20.4
idna==3.10
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
minio==7.2.15
mwclient==0.11.0
mwparserfromhell==0.6.6
numpy==2.2.3
oauthlib==3.2.2
packaging==24.0
pandas==2.2.3
pipx==1.4.3
platformdirs==4.2.0
pyarrow==19.0.1
pycparser==2.22
pycryptodome==3.21.0
PyGObject==3.48.2
PyJWT==2.7.0
pyogrio==0.10.0
pyparsing==3.1.1
pyproj==3.7.1
python-apt==2.7.7+ubuntu4
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==68.1.2
shapely==2.1.0
six==1.16.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
userpath==1.9.1
wadllib==1.3.6
wheel==0.42.0
